<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends - Pixly</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
            <div class="nav-left">
                <a href="#" class="logo">Pixly</a>
                <div class="search-bar">
                    <input type="text" placeholder="Search...">
                    <i class="fa fa-search search-icon"></i>
                </div>
            </div>
            <div class="nav-center">
                <a href="{% url 'newsfeed' %}" class="nav-icon" id="home">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
                <a href="{% url 'friends' %}" class="nav-icon" id="people">
                    <i class="fa fa-users"></i>
                    <span>People</span>
                </a>
                <a href="{% url 'messages' %}" class="nav-icon" id="notifications">
                    <i class="fa fa-bell"></i>
                    <span>Notifications</span>
                </a>
                <a href="{% url 'menu' pid=user.id %}" class="nav-icon" id="menu-link">
                    <i class="fa fa-bars"></i>
                    <span>Menu</span>
                </a>
            </div>
            
            <div class="user-profile">
                <img src="profile.jpg" alt="Profile Picture">
                <span class="username">{{ user.username }}</span>
            </div>
    </header>
</body>
</html>